<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pkg.android.skynet.yourcompanion">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-feature android:name="android.hardware.microphone"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".app.YourCompanion"
        android:configChanges="orientation"
        android:screenOrientation="portrait">

        <activity android:name=".activity.SplashActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <!--<intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.lokkhabarnews.com"
                    android:pathPrefix="/resetpassword"
                    android:scheme="http" />
            </intent-filter>-->

        </activity>

        <activity android:name=".activity.ForgotPasswordActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.SignUpActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.IncomingFakeCallActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.InCallActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBHc39EDaC8jcWI36IYGSipa1Pp9SUrYeo" />


        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="56f4e258c6f2fc19f60d4962027dfd1ef3963983" />


        <receiver android:name=".receiver.FakeCallReceiver" />

        <receiver android:name=".receiver.GpsLocationReceiver">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.TimerService"
            android:enabled="true" />

        <service
            android:name=".services.UpdateLocationService"
            android:enabled="true" />

        <service
            android:name=".services.EmergencyHelpService"
            android:enabled="true" />

        <service
            android:name=".services.VideoRecordingService"
            android:enabled="true"/>

        <service
            android:name=".services.UploadVideoService"
            android:enabled="true"/>

        <service
            android:name=".services.FollowMeService"
            android:enabled="true"/>

        <service
            android:name=".services.FollowingService"
            android:enabled="true"/>

        <service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>